mat-toolbar-row{
    background-color: blue;
    color:white;
    float:right;
}
mat-sidenav-container{
    height:calc(205vh - 115vh);
}
mat-sidenav{
    width:200px;
    background-color:lightblue;
}
.heer{
    display:inline-block;
    display:flex;
    text-align: center;
    flex-wrap: wrap;
}
span>h1{
    margin-top:100px;
    font-family:serif;
    font-size:34px;
    font-weight:bolder;
    text-align:center;
    color:green;
    padding-left:23px;
   

}
.pic{
    float:left;
    max-height:10em;
    width:15em;
}
mat-sidenav button a{
    display:block;
    text-decoration:none;
}
mat-list:hover{
    background-color: blue;
    color:white;
}
mat-list-item{
    display:block;
}
a{
    text-decoration:none;
}
