<div class="container custom-container">
    <div class="col-md-12">
      
      <h3 class="mb-3 text-center">Update mwanafunzi</h3>
      <div class="form-group">
        <input type="text" [(ngModel)]="mwanafunziData.fname" class="form-control" placeholder="Jina kamili la mwanafuzi">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="mwanafunziData.madrassa" class="form-control" placeholder="Jina la chuo anachosoma">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="mwanafunziData.address" class="form-control" placeholder="Pahala anapoishi">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="mwanafunziData.phoneNo" class="form-control" placeholder="Namba ya simu ya mzazi">
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updatemwanafunzi()">Update mwanafunzi</button>
      </div>
      
    </div>
  </div>
  