
<div class="container">
    <div class="card">
        <div class="cirle">
            <h2></h2>
        </div><h2>Idadi ya wanafunzi wa Markaz</h2>
        <span><span></span></span>
    </div>
    <div class="card">
        <div class="cirle">
            <h2>{{mwalimu.length}}</h2>
        </div><h2>Idadi ya Walimu wa Markaz kwa sasa</h2>
        <span><span></span></span>
    </div>
    <div class="card">
        <div class="cirle">
          
        </div><h2>Idadi ya wanafunzi wa Markaz</h2>
        <span><span></span></span>
    </div>
</div>
<hr style="background-color:lightblue; height:0.5em">
<div class="container2">
 <mat-card>
    <mat-card-header>{{title2}}</mat-card-header>
    <mat-card-content>
        <img src="/assets/WhatsApp Image 2023-06-11 at 5.53.26 AM.jpeg">
    </mat-card-content>
    <mat-card-footer>
    {{wanafunzi_wetu}}
    </mat-card-footer>
 </mat-card>
 <mat-card>
    <mat-card-header>{{title1}}}</mat-card-header>
    <mat-card-content>
        <img src="/assets/WhatsApp Image 2023-06-11 at 5.53.27 AM.jpeg">
    </mat-card-content>
    <mat-card-footer>
      {{walimu_wetu}}
    </mat-card-footer>
 </mat-card>
<mat-card>
   <mat-card-header>{{title3}}</mat-card-header>
   <mat-card-content>
       <img src="/assets/WhatsApp Image 2023-06-14 at 10.06.49 PM.jpeg">
   </mat-card-content>
   <mat-card-footer>
  {{jengo_letu}}
   </mat-card-footer>
</mat-card>
</div>
